body {
  min-height: 100px;
  font-family: "Montserrat", sans-serif;
  /* color: white; */
}

/* NavBar*/

.navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}

.nav-link {
  margin-right: 25px;
}

/* konten */

.kolom {
  margin-top: -400px;
  margin-left: 550px;
}

/*footer*/

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* TRANSAKSI */
.imgHP {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  position: relative;
}

.containero {
  width: 100%;
  display: inline-block;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin: 10px;
  /* box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  /*background-color: white;*/
  background-color: white;
  overflow: inherit;
}

.jumbotron {
  background-color: #fff;
}

.tr-head {
  color: black;
}
